.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  overflow: hidden;
  background: #f3e3ff;
  color: #1f68c9;
}

.modal-wrapper .avatar {
  height: 75px;
  width: 75px;
}