.close-button {
  height: 16px;
  width: 16px;
  position: relative;
  box-sizing: border-box;
  line-height: 16px;
  display: inline-block;
  margin: 15px 0;
  margin-left: auto;
}
.close-button:before,
.close-button:after {
  transform: rotate(-45deg);
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -2px;
  margin-left: -7px;
  display: block;
  height: 3px;
  width: 16px;
  background-color: #727272;
}
.close-button:after {
  transform: rotate(45deg);
}
.close-button:hover {
  cursor: pointer;
}