.contacts {
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
}

.contacts .header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.contacts .header .search {
  font-family: 'regular', sans-serif;
  margin-right: 15px;
  margin-left: auto;
  border: 1px solid #e7e7e7;
  background-color: #fff;
  border-radius: 3px;
  height: 30px;
}

.contacts .list {
  padding: 0 15px;
}

.contact-item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  padding: 15px;
  margin: 5px 0;
  border: 1px solid #e7e7e7;
  background: #fff;
}

.contact-item:hover {
  cursor: pointer;
  background: #fff8f8;
}

.contact-item .details {
  display: flex;
  flex-direction: column;
}

.contact-item .avatar {
  margin-left: auto;
}

.contact-item span {
  font-family: 'regular', sans-serif;
}

.contact-item .name {
  font-size: 1em;
  color: #434343;
}

.contact-item .organization {
  font-size: 0.8em;
  line-height: 1.6em;
  color: #878787;
}