@import url("styles/fonts.css");
@import url("styles/contacts.css");
@import url("styles/avatar.css");

* {
  box-sizing: border-box;
}

#root {
  max-width: 1200px;
  min-width: 320px;
  padding: 0 20px;
  margin: 0 auto;
}

.app-header {
  background-color: #222;
  padding: 15px;
  color: white;
  display: flex;
}

.app-header .app-title {
  font-family: 'bold', sans-serif;
  font-size: 1.5em;
  line-height: none;
  text-decoration: none;
  color: #fff;
}

.app-header .app-title:hover {
  cursor: pointer;
}

h1 {
  font-family: bold;
  font-size: 1.11em;
  padding: 10px 15px;
  color: #434343;
}

.separator {
  border-top: 1px solid #e7e7e7;
  margin: 0 0 10px 0;
}