@import url("styles/fonts.css");

* {
  box-sizing: border-box;
}

#root {
  max-width: 1200px;
  margin: 0 auto;
}

.app-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.app-header .app-title {
  font-family: 'bold', sans-serif;
  font-size: 1.5em;
  line-height: none;
  text-decoration: none;
  color: #fff;
}

.app-header .app-title:hover {
  cursor: pointer;
}